<link rel="stylesheet" href="/css/form.css">
<div class="form-body">
    <h2>Instrumento</h2>
    <form action="#">
        <input type="text" name="" id="" placeholder="partName" class="form-input">
        <input type="text" name="" id="" placeholder="partAbbreviation" class="form-input">
        <input type="text" name="" id="" placeholder="Instrument-Sound" class="form-input">
        <input type="text" name="" id="" placeholder="Diatonic" class="form-input">
        <input type="text" name="" id="" placeholder="chromatic" class="form-input">
        <input type="text" name="" id="" placeholder="octaveChange" class="form-input">
        <input type="submit" value="Cadastrar" class="form-submit">
    </form>
</div>