<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Up de Instrumentos</title>
    <link rel="stylesheet" href="/css/layouts/main.css">
</head>
<body>
    <header>
        <h1>Site de Partituras</h1>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer>
        <p>Site criado por Otávio Santiago</p>
    </footer>
</body>
</html>